<ion-header>
  <ion-toolbar>
    <ion-title>*REVIEVER USERNAME*</ion-title>
  </ion-toolbar>
  <!--FONTS-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!--CSS-->
  <style>
    main {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</ion-header>
<!--BODY-->
<ion-content>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="Loading more data..."
          position="top">
        </ion-infinite-scroll-content>
        <!-- https://ionicframework.com/docs/api/infinite-scroll/ -->
        <ul>
            <li *ngFor="let item of [].constructor(1000);let i = index">
                a{{i}}
            </li>
        </ul>
      </ion-infinite-scroll>
    
</ion-content>

<ion-footer>
    <!--New Message-->
    <ion-grid>
      <ion-row>
        <ion-col size="10" color="dark">
          <ion-textarea placeholder="Message" [(ngModel)]="textMessage"></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button style="width:26px;height:26px;" size="small" color="dark" (click)=plusBtn($event)>
            <ion-icon name="caret-up-circle-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>