<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cross Platform Messaging
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-label position="stacked">Username</ion-label>
      <ion-input placeholder="Enter your username"></ion-input>
      <ion-label position="stacked">Password</ion-label>
      <ion-input placeholder="Enter your password"></ion-input>
    <div>
      <ion-button type="submit" (click)=validate($event)>Sign In</ion-button>
    </div>
    <div>
      <ion-button type="submit" (click)=pingServer($event)>Sign Up</ion-button>
    </div>
  </div>
</ion-content>
