<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drop</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-label position="stacked">Username</ion-label>
      <ion-input placeholder="Enter your username" [(ngModel)]="username" type="text"></ion-input>
      <ion-label position="stacked">Password</ion-label>
      <ion-input placeholder="Enter your password" [(ngModel)]="password" type="password"></ion-input>
    <div>
      <ion-button type="submit" (click)=pingServer()>Sign In</ion-button>
    </div>
    <div>
      <ion-button type="submit" (click)=openSignupPage()>Sign Up</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
    <ion-button (click)=setIP()>Set IP</ion-button>
<p>{{ip}}:{{port}}</p>
</ion-footer>