<ion-header onload="myFunction()">
  <div id="bullshit">
      <ion-toolbar id = "bullshit" align="center">
          <ion-title>Messages</ion-title>

  </ion-toolbar>
</div>
  <!--HERE-->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nick Cutsail
      <br>
      <font size = 1> Bruhhhhhh!<3 </font>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
<div class="container" align="right"  style="margin-right:3%;margin-bottom:3%">
  <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated">
    <ion-icon name="add" role="img" class="ios hydrated" aria-label="add"></ion-icon>
  </ion-fab-button>   
 
</div>
