<ion-header onload="myFunction()">
  <div id="bullshit">
    <ion-toolbar id = "bullshit" align="center">
      <ion-title>Messages</ion-title>
    </ion-toolbar>
  </div>
  <!--FONTS-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    /*Here*/
    ion-content{
    font-family: 'Roboto', sans-serif;
    }

  div {
    background-color: transparent;
  }
  </style>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let obj of objs">
			<p>{{obj.title}}</p>
            <br /><font size="1">{{obj.desc}}</font>
                <ion-icon name="arrow-forward-outline"></ion-icon>

		</ion-item>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="primary" (click)="plusBtn($event)">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
