<ion-header>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-item> <ion-button (click)=loadHome($event)>Back</ion-button> </ion-item>
				<ion-item><ion-title>Sign Up</ion-title></ion-item>
			</ion-row>
		</ion-grid>

		
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Blank</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container">
		<ion-label position="stacked">Username</ion-label>
		<ion-input placeholder="Enter your username" [(ngModel)]="username" type="text"></ion-input>
		<ion-label position="stacked">Password</ion-label>
		<ion-input placeholder="Enter your password" [(ngModel)]="password" type="password"></ion-input>
		<ion-label position="stacked">Recovery Email</ion-label>
		<ion-input placeholder="Enter your email" [(ngModel)]="email" type="email"></ion-input>
		<div>
			<ion-button type="submit" (click)=pingServer($event)>Create Account</ion-button>
		</div>
	</div>
</ion-content>
